
$sub_primary: #31E6FF;


*{
    box-sizing: border-box;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
    background: $sub_primary;
    font-family: 'Noto Sans KR', sans-serif;
}


h1{
    font-family: 'Bebas Neue', sans-serif;
}

// scss를 쓰는 이유:
// 변수를 쓰기 위해서
// 스타일을 중첩하기 위해서

.background{ //초록이들
    display: flex;
    justify-content: space-between; 
    // 초록이들이 양옆에 16px를 남겨놓고 일정한 간격으로 떨어져 있음
    width: 100%;
    height: 100vh; // viewport high
    position: absolute; // 스ㅋ로고, 도어라인 등 다른 요소와 중첩이 되어 있으므로
    padding: 0 16px;
    // 상하에는 0px, 좌우에는 16px
    // padding-top, padding-left, padding-right, padding-bottom
    // 0 16px 16px로 쓸 경우 상 좌우 하로 적용됨
    span{
        display: block;
        height: 100%;
        background: linear-gradient(180deg, #17FF2F 0%, rgba(217, 217, 217, 0.00) 100%, rgba(217, 217, 217, 0.00) 100%);
        width: calc(100% / 9 - 2.7vw);
        margin-right: 2.7vw;

        &:last-child{
            margin-right: 0;
        }
   
    }
}